/* This file is for your main application css. */
@import "./loader.scss";
@import "./coin.scss";
@import "./chat.scss";
@import "./gallery.scss";
@import "./phoenix.css";
@import "./snake.css";
@import "./live_view.css";
@import "./clock.scss";
@import "./scroll.scss";
@import "./search.scss";
@import "./navigation.scss";
@import "./video_chat.scss";
@import "../node_modules/nprogress/nprogress.css";

@font-face {
  font-family: 'belligerent_madnessregular';
  src: local('belligerent_madnessregular'),
       url('../fonts/belligerent-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  &-track{
    border-radius: 10px;
    background: white;
  }
  &-thumb{
    border-radius: 10px;
    background: #888;
    &:hover{
      background: #555;
    }
  }
}

a{
  &:visited{
    color: #000;
  }
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  &-content{
    margin: 15% auto;
    border: 1px solid #888;
    background-color: white;
    width: 80%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &>form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      margin: 10px 0;
      &>input{
        margin: 10px 0;
        width: 280px;
        padding: 5px 10px;
      }
      &>button{
        width: 280px;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid white;
        background-color: #016a86;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        &:hover{
          border: 1px solid #016a86;
          background-color: white;
          color: #016a86;
        }
      }
      &:first-child{
        display: none;
      }
      &:nth-child(2){
        display: none;
      }
    }
  }
  &-close{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    &:hover,
    &:focus{
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.form-title{
  background: linear-gradient(to right, #5d337b3b, #fb8b2346, #5d337b3b);
  width: 100%;
  text-align: center;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Alerts and form errors */
.alert {
  padding: 15px;
  border: 1px solid transparent;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 900;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-info{
    color: #31708f;
    background-color: white;
    border-color: #bce8f1;
  }
  &-warning{
    color: #8a6d3b;
    background-color: white;
    border-color: #faebcc;
  }
  &-danger{
    color: #a94442;
    background-color: white;
    border-color: #ebccd1;
  }
  & p{
    margin-bottom: 0;
  }
  &:empty{
    display: none;
  }
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

h1 {
  margin: 20px 0;
  font-size: calc(3vw - 10px);
  width: 100%;
  text-align: center;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 25px 0 75px;
}
.card {
  width: 50%;
  min-width: 300px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
  margin-top: 1px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  color: black;
  &:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s ease-in-out;
  }
}
pre{
  padding: 1em;
}
.animated-sin-wave {
  position: relative;
  height: 150px;
  width: 100%;
  overflow: hidden;
  & > .bar {
    position: absolute;
    height: 100%;
    border-radius: 50%;
    max-width:10px;
  }
  &-description {
    width:100%;
    text-align:center;
    font-size:0.8em;
    color:#747678;
    padding: 2em
  }
}

.container.rainbow {
  max-width: 100%;
  text-align: center;
}

[data-phx-view]{
  padding: 1em;
}

.datalist-polyfill {
	list-style: none;
	display: none;
	background: white;
	box-shadow: 0 2px 2px #999;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	max-height: 300px;
	overflow-y: auto;
}

.datalist-polyfill:empty {
  display: none !important;
}

.datalist-polyfill > li {
  padding: 3px;
  font: 13px "Lucida Grande", Sans-Serif;
}

.datalist-polyfill__active {
  background: #3875d7;
  color: white;
}

.user-row {
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form[phx-submit="load-more"] button {
  margin-bottom: 200px;
}

html{
  overflow-x:hidden;
}

.game-container{
  position: absolute;
}
.pacman{
  position: relative;
  z-index: 999;
}
.game-container .block{
  display: block;
  position: absolute;

}
.game-container .block.tail{ background: yellow; }
.game-container .block.wall{ background: blue; }
.game-container .block.empty{ background: #000000; }
.snake-controls select {
  color: black;
}
.snake-controls select *{
  color: black;
  width: 150px;
}

.absolute-back{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  color: black;
  border-left: 4px solid brown;
  text-decoration: none;
  &:hover{
    border-left: 4px solid red;
  }
}

.card.unavaliable {
  background-color: rgba(0,0,0,0.12);
  position: relative;
  &:hover{
    box-shadow: none;
    cursor: not-allowed;
  }
  &::after{
    content: 'Не готово';
    color: darkred;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    font-size: 16px;
  }
}

.flame-color{
  color: #fb8b23;
  font-family: 'belligerent_madnessregular';
}

.deep-ocean{
  color: #016a86;
  font-family: 'belligerent_madnessregular';
}

header {
  background-color: white;
  padding: 0 20px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  .main-title {
    color: black;
    font-size: 2rem;
    font-family: 'belligerent_madnessregular';
  }
  &>nav>ul{
    display: flex;
    margin: 0 10px;
    &>li{
      margin: 0 20px;
      list-style-type: none;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      padding: 20px 0;
      &>a{
        text-decoration: none;
        color: black;
        text-transform: lowercase;
      }
      &:hover{
        border-bottom: 2px solid #fb8b23;
      }
    }
  }
}

.full_screen_grad{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #466368;
  background: -webkit-linear-gradient(#fb8b2346, #5d337b3b);
  background:    -moz-linear-gradient(#fb8b2346, #5d337b3b);
  background:         linear-gradient(#fb8b2346, #5d337b3b);
  &>div:first-child{
    margin-right: 10vw;
  }
}
.main_page_image{
  max-width: 30%;
  &>img{
    max-width: 100%;
  }
}
.main_page_title{
  padding-top: 0;
  &>h1{
    text-align: left;
  }
  &>p{
    text-align: left;
    max-width: 30vw;
    font-size: calc(1vw - 2px);
  }
}
.session_screen{
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 66.5px);
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.auth_panel{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s ease-in-out;
  min-height: calc(100vh - 66.5px);
  background-color: white;
  padding: 0 10px 10vh;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  & > hr{
    width: 20%;
    height: 0.5px;
    color: rgba(177, 177, 177, 0.5);
    margin: 30px 0;
  }
  &>h1{
    font-size: 4rem;
    font-family: 'belligerent_madnessregular';
    margin: 0;
  }
  &>p>strong{
    font-size: 0.8em;
    font-weight: 300;
  }
  &>form{
    padding: 1vh 0;
    position: relative;
    &>button{
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 25%;
      padding: 5px 20px;
      height: 40px;
      border: 4px solid white;
      font-weight: bolder;
      text-shadow: transparentize($color: #000000, $amount: 0);

      background: -webkit-linear-gradient(#705031, #3e2c49);
      background:    -moz-linear-gradient(#705031, #3e2c49);
      background:         linear-gradient(#705031, #3e2c49);
      color: white;
    }
    &>.form-group{
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      &>input{
        width: 100%;
        padding: 10px 10px;
        margin: 5px 10px;
        border: 1px solid grey;
        border-radius: 5px;
      }
    }
  }
}
#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 230px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  margin: 10px 0;
  &:hover{
    cursor: pointer;
  }
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 10px 15px;
  &>img{
    width: 100%;
  }
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.main-centred{
  max-width: 1600px;
  margin: auto;
}
.menu{
  width: 100%;
  max-width: 300px; 
  height: 100vh; 
  position: fixed;
  left: 0;
  top: 0; 
  padding: 70px 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow: hidden;
  transition: all .25s ease-in-out;
  z-index: 1;
  background-color: white;
  &_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition: all .25s ease-in-out;
    width: 100%;
    &-title{
      list-style-type: none; 
      background-color: #ecebeb; 
      width: 100%;  
      padding: 10px;
      cursor: pointer;
      position: relative;
      border-radius: 10px;
      &>i:first-child{
        margin: 0 10px;
      }
      &>.chevron{
        position: absolute;
        top: 50%;
        right: 5%;
        transition: all .25s ease-in-out;
        transform-origin: center;
        &-opened{
          transform: translateY(-50%) rotate(0.5turn);
        }
        &-closed{
          transform: translateY(-50%);
        }
      }
    }
    &.closed{
      &>.menu-link{
        display: none;
        transition: all .25s ease-in-out;
      }
    }
  }
  &-header{
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    border-bottom: 1px solid rgba(207, 207, 207, 0.39);
    padding-left: 15px;
    margin-bottom: 15px;
    &>.menu_state_controller{
      position: absolute;
      top: 50%;
      right: -5px;
      transform: translateY(-60%);
      transform-origin: 50% 50%;
      transition: all .25s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 1px solid transparent;
      font-size: 18px;
      cursor: pointer;
      color: darkgray;
      outline: none;
      &.closed{
        transition: all .25s ease-in-out;
        transform: translate(-5px, -60%) rotate(0.5turn);
        color: black;
      }
    }
  }
  &-body{
    height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-footer{
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    border-top: 1px solid rgba(207, 207, 207, 0.39);
    &>.menu_settings_status{
      position: absolute;
      top: 50%;
      right: -5px;
      transform: translateY(-60%);
      transform-origin: 50% 50%;
      transition: all .25s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 1px solid transparent;
      font-size: 18px;
      cursor: pointer;
      color: darkgray;
      outline: none;
      &.closed{
        transition: all .25s ease-in-out;
        transform: translate(-5px, -60%) rotate(0.5turn);
        color: black;
      }
    }
  }
  &-link{
    padding: 10px 0;
    width: 50%;
    min-width: 200px;
    border-bottom: 1px solid rgb(175, 175, 175);
    color: dimgrey;
    text-decoration: none;
    font-size: 14px;
    &>i{
      min-width: 25px;
      margin-left: 10px;
      margin-right: 10px;
    }
    &:last-child{
      border-bottom: 1px solid transparent;
    }
    &:hover{
      background-color: #e2e2e2;
      width: 100%;
      font-weight: bolder;
    }
  }
  &_state_title{
    font-size: 20px;
  }
  &.closed{
    max-width: 50px;
    transition: all .25s ease-in-out;
    z-index: 1;
    &>.menu-header>.menu_state_title{
      display: none;
    }    
    &>.menu-footer>.menu_state_title{
      display: none;
    }    
    &>.menu-body>.menu_wrapper{
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid grey;
      &>li{
        display: none;
      }
      &>.menu-link{
        text-align: center;
        &>span{
          display: none;
        }
      }
    }
  }
}