table{
    margin-top: 40px;
    &>thead>tr>td{
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid green;
        padding: 0 15px;
    }
    &>tbody>tr{
        &>td{
            border-bottom: 1px solid sienna;
            padding: 10px 0;
            padding-right: 30px;
        }
    }
}